* {
    font-family: "Roboto";
  }
  
  /* CONTENT */
  
  /* CATEGORIES */
  #categories {
    margin-top: 1rem;
  }
  
  .image-container {
    height: 15rem;
    display: block;
    position: relative;
    cursor: pointer;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
  }
  
  .image-text {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    transition: all 0.3s ease-in-out;
  }
  
  .image-container img {
    filter: brightness(50%);
    transition: all 0.3s ease-in-out;
    height: 15rem;
    width: auto;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
  }
  
  .image-container:hover .overlay {
    scale: 1.1;
  
    .image-text {
      color: white;
      text-shadow: 10px 10px 10px black;
      scale: 1.3;
      transition: all 0.3s ease-in-out;
    }
  }
  
  .image-container:hover img {
    filter: brightness(100%);
    transform: scale(1.1);
    z-index: 2;
  }
  
  /* DIVIDER */
  .options {
    margin-top: 1rem;
    background-color: #dad7cd;
    height: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
  
  .select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 9rem;
  }
  
  .select-box {
    border: solid 1px black;
    border-radius: 5px;
    width: 100%;
    color: black;
    padding: 0 4rem 0 0;
    height: 2rem;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.05s ease-in-out;
  }
  
  .select-box:hover {
    transform: scale(1.02);
  }
  
  section {
    padding: 2rem 8%;
  }
  
  .product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 500px));
    align-items: center;
    gap: 4rem;
    text-align: center;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: center;
    
  }
  
  .box {
    background: #d8d8d8;
    position: relative;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border: solid 2px rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: block;
  }
  
  .box img {
    width: 100%;
    height: 100%;
    object-fit: fit;
    aspect-ratio: 14/9;
  }
  
  .box:hover {
    transform: scale(1.1);
    background: rgba(0, 0, 0, 0.2);
    border: solid 4px rgba(0, 0, 0, 0.1);
  }
  
  .product-details {
    padding-left: 1rem;
    padding-top: .5rem;
    text-align: start;
  }
  
  .product-details h5 {
    color: #51826c;
  }
  

  .logo-container-overlay {
    position: absolute; 
    top: 60%; 
    left: 2%; 
    width: 20%; 
    height: auto; 
    z-index: 2; 
  }
  
  .logo-overlay {
    width: 100%; 
    height: auto; 
  }
  
  @media (max-width: 1690px) {
    h4,
    h5 {
      font-size: 21px;
    }
  }
 
  /* MOBILE */
  @media (max-width: 520px) {

    .col{
      justify-items: center;
    }
    #categories {
      margin-top: .5rem;
      justify-content: center;
    }

    .box{
      margin-left: 1rem;
      margin-right: 1rem;
    }
    
    .image-container {
      align-items: center;
      height: 12rem;
    }
    
    .overlay {
      align-self: center;
    }
    
    .image-text {
      font-size: 2.5rem;
    }
    
    .image-container img {
      height: 12rem;
    }

   .product-details h4,
    h5 {
      font-size: 13px;
    }

    .select-container{
      margin-left: 1rem;
      margin-right: 1rem;
      font-size: 13px;
    }

    .logo-container-overlay {
      top: 55%; 
    }
    
  }

  a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
  }